.modal-backdrop {
    background-color: rgb(204, 204, 204) !important;
    opacity: 0.5 !important;
}

.title-kanban {
    font-family: AbrilFatface-Regular;
    src:url("../../../public/assets/Abril_Fatface/AbrilFatface-Regular.ttf");
    font-size: 40px;
}